<form>
  <table>
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Token ID"
            [(ngModel)]="tokenID"
            name="tokenID"
          />
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="New Hire Email"
            [(ngModel)]="email"
            name="email"
          />
        </mat-form-field>
      </td>
    </tr>
  </table>
</form>
<button mat-raised-button (click)="registerToken()" color="primary">
  Generate Token and Send Email
</button>

<br />
<br />
<app-form-app></app-form-app>
<br /><br />
<app-doc-app></app-doc-app>
