<div class="shadow p-4 mb-4 bg-white">
  <p>Name Section</p>
  <div *ngIf="info$ as info">
    <div *ngIf="condition; else elseBlock">
      <label>First Name: </label><br />
      <input [(ngModel)]="info.firstname" placeholder="First Name" /><br />
      <label>Last Name: </label><br />
      <input [(ngModel)]="info.lastname" placeholder="Last Name" /><br />
      <label>Middle Name: </label><br />
      <input [(ngModel)]="info.middlename" placeholder="Middle Name" /><br />
      <label>Gender: </label><br />
      <input [(ngModel)]="info.gender" placeholder="ssn" /><br />
      <label>SSN: </label><br />
      <input [(ngModel)]="info.ssn" placeholder="ssn" /><br />
      <label>Date of Birth: </label><br />
      <input [(ngModel)]="info.dob" placeholder="ssn" /><br />

      <button type="button" class="btn btn-success" (click)="edit()">
        Save
      </button>
    </div>
    <ng-template #elseBlock>
      <label>First Name: </label><br />
      <p>{{ info.firstname }}</p>
      <br />
      <label>Last Name: </label><br />
      <p>{{ info.lastname }}</p>
      <br />
      <label>Middle Name: </label><br />
      <p>{{ info.middlename }}</p>
      <br />
      <label>Gender: </label><br />
      <p>{{ info.gender }}</p>
      <br />
      <label>SSN: </label><br />
      <p>{{ info.ssn }}</p>
      <br />
      <label>Date of Birth: </label><br />
      <p>{{ info.dob }}</p>
      <br />

      <button type="button" class="btn btn-success" (click)="edit()">
        Edit
      </button>
    </ng-template>
  </div>
</div>
