<div class="container">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <h1>Welcome: {{ user }}</h1>
    <h1>Welcome: </h1>
    <!--<h1>Angular 10 FormData (multipart/data-form) Example</h1>
    <div>
      <form [formGroup] = "uploadForm" (ngSubmit)="onSubmit()">      
        <div>
          <input type="file" name="profile" (change)="onFileSelect($event)" />
        </div>
        <div>
          <button type="submit">Upload</button>
        </div>
      </form>
    </div>-->
</div>
  </div>
</div>
