<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs">
        <li role="presentation"
            routerLinkActive="active">
          <a routerLink="/home-page/welcome-page">Welcome message page</a>
        </li>
        <li role="presentation"
            routerLinkActive="active">
          <a routerLink="/home-page/personal-info">Personal Information</a>
        </li>
        <li role="presentation"
            routerLinkActive="active">
          <a routerLink="/home-page/visa">Visa Status Management</a>
        </li>
        <li role="presentation"
            routerLinkActive="active">
          <a routerLink="/home-page/housing">Housing</a>
        </li>
      </ul>
      
    </div>
  </div>
</div>

<router-outlet></router-outlet>