<mat-card>
  <mat-card-header>
    <mat-card-title>Register Contact Form</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="uploadForm">
      <table class="example-full-width" cellspacing="0" id="contentToConvert">
        <br />

        REFERENCE CONTACT:
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input
                matInput
                placeholder="Referenced Name"
                [(ngModel)]="isReference"
                name="isReference"
              /><br />
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Referenced Phone" /><br />
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Referenced Address" /><br />
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Referenced Email" /><br />
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Referenced Relationship" /><br />
            </mat-form-field>
          </td>
        </tr>
        <br />
        EMERGENCY CONTACT:
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input
                matInput
                placeholder="Emergency Contact Name"
                [(ngModel)]="isEmergency"
                name="isEmergency"
              /><br />
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Emergency Contact Relationship" />
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Emergency Contact Phone" />
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Emergency Contact Email" />
            </mat-form-field>
          </td>
        </tr>
      </table>
      <!-- Image Preview -->
      <div class="imagePreview" *ngIf="imageURL && imageURL !== ''">
        <img [src]="imageURL" [alt]="uploadForm.value.name" />
      </div>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button (click)="registerContact()" color="primary">
      Submit
    </button>
  </mat-card-actions>
</mat-card>
