<div class = "col">
    <div class = "row">
        <app-position></app-position>
        <app-corporate></app-corporate>
        <app-additional-earning></app-additional-earning>
    </div>
    <div class = "row">
        <app-status></app-status>
        <app-employment></app-employment>
        <app-work-schedule></app-work-schedule>
    </div>
    <div class = "row">
        <app-regular-pay></app-regular-pay>
        <app-time-attendance></app-time-attendance>
        <app-custom-field></app-custom-field>
    </div>
</div>
