<div class="container">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <div class = "row">
            <div class = "col">
                <app-name-section></app-name-section>
                <app-address-section></app-address-section>
            </div>
            <div class = "col">
                <app-contact-info-section></app-contact-info-section>
                <app-employment-section></app-employment-section>
            </div>
            <div class = "col">
                <app-emergency-contact></app-emergency-contact>
                <app-document-section></app-document-section>
            </div>
        </div>
    </div>
</div>

